<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <!--
      Service for Emma
      Symlinks:
      $HOME/Library/LaunchAgents/emma.daemon.plist
      $ launchctl load $HOME/Library/LaunchAgents/emma.daemon.plist
      $ launchctl unload $HOME/Library/LaunchAgents/emma.daemon.plist
  -->
  <dict>
    <key>Label</key>
    <string>emma.daemon</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/{user}/repos/emma/env/bin/python</string>
      <string>-m</string>
      <string>emma</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ServiceDescription</key>
    <string>Emma</string>
    <key>UserName</key>
    <string>{user}</string>
    <key>StandardOutPath</key>
    <string>/tmp/emma.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/emma.err</string>
  </dict>
</plist>
