{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
{% endblock %}

{% block content %}
  <script>
   function hasInteraction() {
       var interactions = (
           django.jQuery(".action-select:checkbox:checked").length
           + django.jQuery('.content a:hover').length
           + django.jQuery('.content button:hover').length
           + django.jQuery('.content input:hover').length
           + django.jQuery('.content select:hover').length
       );
       return interactions > 0;
   }
  </script>
  <div id="content-main-wrapper"
       hx-get=""
       hx-select="#content-main-wrapper"
       hx-swap="outerHTML"
       hx-trigger="every 1s [!hasInteraction()]"
  >
    {{ block.super }}
    <script type="text/hyperscript">
     on click from <#result_list tbody tr td:not(.action-checkbox), #result_list tbody tr th/>
     call event.target.parentElement.querySelector('input').click()
    </script>
  </div>
  <script type="text/hyperscript">
   on htmx:beforeSwap from #content
   call hasInteraction()
   if result set event.detail.shouldSwap to false
  </script>
  <script type="text/hyperscript">
   on htmx:afterSwap from #content
   call document.querySelectorAll('tr input.action-select')
   set actionEls to result
   if actionEls.length > 0 call Actions(actionEls)
  </script>
{% endblock %}
