{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
{% endblock %}

{% block content %}
  <script>
   function anyChecked() {
       return django.jQuery(".action-select:checkbox:checked").length > 0;
   }
  </script>
  <div id="content-main-wrapper"
       hx-get=""
       hx-trigger="every 1s [!anyChecked()]"
       hx-swap="outerHTML"
       hx-select="#content-main-wrapper"
  >
    {{ block.super }}
  </div>
  <script type="text/hyperscript">
   on htmx:beforeSwap from #content
   call anyChecked()
   if result set event.detail.shouldSwap to false
  </script>
  <script type="text/hyperscript">
   on htmx:afterSwap from #content
   js
     const actionsEls = document.querySelectorAll('tr input.action-select');
     if (actionsEls.length > 0) {
         Actions(actionsEls);
     }
   end
  </script>
{% endblock %}
